body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

.header_font {
	font-family: "Bangers", cursive;
	font-size: 60px;
	color: #f44336;
}

.inner_artist {
	border: #2c2c2c;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.search_wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.6);
	max-width: 550px;
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
}
.search_wrapper .input {
	width: 85%;
	padding: 15px 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}

.searchbtn {
	background: #f44336;
	width: 10%;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
}

.searchbtn .fas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
}

.black_out {
	background: #3c3c3c;
}

.artist_srch {
	flex-wrap: wrap;
	background-color: #2c2c2c;
	height: 500px;
	width: 400px;
	border: #2c2c2c 2px solid;
	margin: 20px 30px;
	color: #ffffff;
}

.artist_container {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
	background-color: #3c3c3c;
}
.img_box {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: #f44336 solid;
}
.iconImage {
	width: 20px;
	margin-right: 10px;
}

.center_wrapper {
	width: 900px;
	margin: 0 auto;
}

header {
	padding: 10px 0px;
	transition: all 300ms ease-in;
}

header .header_logo {
	flex-grow: 1;
}
header .header_logo_venue {
	font-size: 40px;
}

header .header_logo_title {
	text-transform: uppercase;
}

.carrousel_wrapper {
	height: 700px;
	overflow: hidden;
}

.carrousel_image {
	background-size: cover !important;
}

.footer {
	height: auto;
	width: 100%;
	background-color: #f44336;
	display: flex;
	justify-content: center;
}

h2 {
	font-family: "Bangers", cursive;
	font-size: 50px;
}
.inner_footer {
	font-size: 10px;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	height: 30px;
}

.highlight_wrapper h2 {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	color: #2c2c2c;
	font-size: 52px;
}

.highlight_wrapper .highlight_description {
	line-height: 30px;
	font-size: 18px;
	font-weight: 300;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 30px 0px;
}

.discount_wrapper {
	flex-direction: column;
	padding: 70px 0px;
}

.discount_wrapper .discount_percentage {
	padding-right: 100px;
}

.discount_wrapper .discount_percentage span:nth-child(1) {
	color: #ff4800;
	font-size: 125px;
	font-weight: 400;
	display: block;
	line-height: 120px;
}

.discount_wrapper .discount_percentage span:nth-child(2) {
	color: #2c2c2c;
	font-size: 50px;
	font-weight: 400;
	display: block;
}

.discount_wrapper .discount_description h3 {
	font-size: 34px;
	font-weight: 100;
	margin: 0px;
	color: #2c2c2c;
}

.discount_wrapper .discount_description p {
	line-height: 30px;
	font-size: 18px;
	font-weight: 300;
}

.pricing_section {
	padding: 70px 0px;
}

.pricing_section h2 {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	margin: 0;
}

.pricing_wrapper {
	display: flex;
	flex-wrap: wrap;
}
.pricing_wrapper .pricing_item {
	flex-grow: 1;
	width: 33%;
	padding: 20px;
	box-sizing: border-box;
}

.pricing_wrapper .pricing_inner {
	border: 2px solid #ffa800;
	padding: 50px 20px;
}

.pricing_inner .pricing_title {
	color: #ffffff;
	text-align: center;
	border-bottom: 1px solid #ffa800;
	padding-bottom: 20px;
}
.pricing_inner .pricing_title span:nth-child(1) {
	font-size: 50px;
	display: block;
}
.pricing_inner .pricing_title span:nth-child(2) {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 300;
}
.pricing_inner .pricing_description {
	color: #b8b8b8;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	padding: 20px 0px;
	min-height: 70px;
}

.pricing_inner .pricing_buttons {
	text-align: center;
}

.bck_black {
	background: #2c2c2c;
}

@media screen and (max-width: 1024px) {
	.search_wrapper {
		position: absolute;
		top: 70%;
		width: 300px;
	}
}
